<div class="container">

<div class="chart-container">
    <canvas  id="MyChart" >{{ chart }}</canvas>
</div>

    <div class="row">
      <div class="col">
        <select (change)="onSelectOptionMonth($event, data)" class="form-select" aria-label="Default select example">
            <option selected>month</option>
        
            <option *ngFor="let month of months" value="{{month}}">{{ month }}</option>
        </select>
      </div>
      <div class="col">
        <select (change)="onSelectOptionYear($event, data)" class="form-select" aria-label="Default select example">
            <option selected>year</option>
        
            <option  *ngFor="let year of years" value="{{year}}">{{ year }}</option>
        </select>
      </div>
      <div class="col">
        <select (change)="onSelectOptionName($event, data)" class="form-select" aria-label="Default select example">
            <option selected>Machine Name</option>
        
            <option *ngFor="let name of machines" value="{{name}}">{{ name }}</option>
        </select>
      </div>
    </div>
  </div>
  