
<nav class="navbar navbar-expand-lg navbar-light border border-dark p-3">
  <a class="navbar-brand" href="#">CGI</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse justify-content-between" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/dashboard">Dashboard</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/machines">Maschinen</a>
      </li>
      
      <li class="nav-item">
        <a class="nav-link" routerLink="/measurement">Messungen</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <button class="btn border border-dark my-2 my-sm-0" type="submit">Logout</button>
    </form>
  </div>
</nav>

<!--<div *ngFor="let event of events">
  <h2>{{ event.machine_name }}</h2>
</div>
-->

<!--<div *ngFor="let event of measurementsExceedingValue(events, 90)">
  <h2>{{ event.machine_name }}</h2>
</div> -->



  <router-outlet></router-outlet>


